:root {
    --primary-color: #2e857f;
    --primary-color-darker: #214a47;

    --github-color: #333;
    --github-color-darker: #242323;
    --discord-color: #5865F2;
    --discord-color-darker: #424ec9;
}

.columns {
    margin: 0.5rem !important;
}
.column {
    padding: 1.5rem !important;
}
.box {
    background-color: #f5f5f5 !important;
}

@media screen and (max-width: 1023px) {
    .column {
        padding: 0.75rem !important;
    }
    .box {
        border: 2px solid #4a4a4a;
    }
    header-component i {
        color: black !important;
    }
    .navbar-link:not(.is-arrowless)::after {
        border-color: black !important;
    }
    .navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
        color: var(--primary-color) !important;
    }
}
@media screen and (min-width: 1024px) {
    .navbar-item:hover, .navbar-link:hover, .navbar-item.selected, .navbar-link:hover.selected {
        background-color: var(--primary-color) !important;
    }
    .navbar-dropdown {
        background-color: black !important;
    }
    .navbar-dropdown .navbar-item {
        background-color: black !important;
        color: white !important;
    }
    .navbar-dropdown .navbar-item i {
        color: white;
    }
    .navbar-dropdown .navbar-item:hover {
        background-color: var(--primary-color) !important;
    }
}

.my-projects-icon {
    margin-left: 0.3rem;
}

lateral-section-component .box {
    margin-bottom: 1.5rem;
}

lateral-section-component figure {
    margin: auto;
}
lateral-section-component img {
    border: 3px solid #4a4a4a;
}
lateral-section-component h1 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-align: center;
}
lateral-section-component p {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    text-align: justify;
}

#main-content {
    overflow-wrap: break-word;
}
#main-content h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
blockquote {
    background-color: var(--primary-color) !important;
    border-left: 5px solid var(--primary-color-darker) !important;
    color: white;
}

custom-button-component .button {
    color: white !important;
    width: 100%;
    height: 2.8rem;
    margin: 0.2rem 0;
}
.github-button {
    background-color: var(--github-color) !important;
}
.github-button:hover {
    background-color: var(--github-color-darker) !important;
}
.discord-button {
    background-color: var(--discord-color) !important;
}
.discord-button:hover {
    background-color: var(--discord-color-darker) !important;
}
.default-button {
    background-color: var(--primary-color) !important;
}
.default-button:hover {
    background-color: var(--primary-color-darker) !important;
}

curriculum-component ul {
    list-style: none !important;
    margin-left: 0 !important;
}
curriculum-component li {
    margin-bottom: 1rem;
}
curriculum-component i {
    color: var(--primary-color);
    margin-right: 0.4rem;
    font-size: 1.2rem;
}

jpc-component img {
    width: 100%;
    height: auto;
}

case-changer-component iframe {
    width: 100%;
    height: 35rem;
}