/* Root */
:root {
  --primary-color: #2995a0;
  --primary-color-darker: #186c73;

  --github-color: #333;
  --github-color-darker: #242323;
  --discord-color: #5865f2;
  --discord-color-darker: #424ec9;
}

/** Fonts **/
@font-face {
  font-family: 'Batmfa';
  src: url('./Fonts/batmfa.ttf') format('truetype');
}
@font-face {
  font-family: 'Code';
  src: url('./Fonts/Code.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt';
  src: url('./Fonts/Prompt-Regular.ttf') format('truetype');
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
  display: none;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-darker);
}

* {
  font-family: 'Prompt', sans-serif;
}

/* Elements */
.navbar.is-black {
  background-color: black !important;
}
.navbar-brand img {
  width: 50px;
}
.navbar-item img {
  max-height: 100% !important;
}
.navbar-brand p {
  font-size: 1.4rem;
  font-family: 'Batmfa', sans-serif;
  font-weight: normal;
  color: white;
  margin-left: 0.7rem;
  margin-right: 1rem;
}
.navbar-burger {
  height: auto !important;
}
.blinkingMenu {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.columns {
  margin: 0.5rem !important;
}
.column {
  padding: 1rem !important;
}
.box {
  padding: 1.5rem !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  border-radius: 1rem !important;
  background-color: white !important;
}

/* Mobile */
@media screen and (max-width: 1023px) {
  .column {
    padding: 0.75rem !important;
  }
  #main-content {
    padding-bottom: 0 !important;
    margin-bottom: 1.25rem;
  }
  #lateral-content {
    padding-top: 0 !important;
  }
  myself-component .box {
    margin-bottom: 1.25rem !important;
  }
  .box {
    background-color: #f5f5f5 !important;
  }
  .box:not(#demo-box) {
    box-shadow: 1px 1px 0 #bbb, 2px 2px 0 #bbb, 3px 3px 0 #bbb, 4px 4px 0 #bbb, 5px 5px 0 #bbb, 6px 6px 0 #bbb !important;
    margin-right: 6px;
  }
  header-component i {
    color: black !important;
  }
  .navbar-link:not(.is-arrowless)::after {
    border-color: black !important;
  }
  .navbar-link.is-active,
  .navbar-link:focus,
  .navbar-link:focus-within,
  .navbar-link:hover,
  a.navbar-item.is-active,
  a.navbar-item:focus,
  a.navbar-item:focus-within,
  a.navbar-item:hover {
    color: #4a4a4a !important;
  }
  .navbar-link::after {
    transition: transform ease 0.2s;
  }
  .navbar-link.closed::after {
    transform: rotate(135deg) !important;
    transition: transform ease 0.2s;
  }
  .navbar-dropdown.closed,
  .navbar-dropdown.closed > * {
    display: none;
  }

  .tech-card-section {
    justify-content: center !important;
  }

  .close-tab-button {
    margin-left: 2rem !important;
    width: 15px !important;
  }

  #interaction-panel h5 {
    max-width: 100% !important;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .scrollable > div {
    max-height: 85vh;
    overflow-y: scroll;
  }
  .scrollable > div::-webkit-scrollbar {
    display: block;
  }

  #navbar .navbar-item:hover,
  .navbar-link:hover,
  .navbar-item.selected,
  .navbar-link:hover.selected {
    background-color: var(--primary-color) !important;
  }
  .navbar-item.selected {
    background-color: var(--primary-color) !important;
  }
  .navbar-dropdown {
    background-color: black !important;
  }
  .navbar-dropdown .navbar-item {
    background-color: black;
    color: white !important;
  }
  .navbar-dropdown .navbar-item i {
    color: white;
  }
  .navbar-dropdown .navbar-item:hover {
    background-color: var(--primary-color) !important;
  }
  .curriculum-icon {
    display: none !important;
  }
}

.my-projects-icon,
.icon-text .icon:not(:last-child) {
  margin-right: 0.5em !important;
}

myself-component .box {
  margin-bottom: 1.5rem;
}

myself-component figure,
contact-component figure {
  margin: auto;
}
#my-photo,
contact-component object {
  border: 2px solid var(--primary-color-darker);
  padding: 0.5rem;
  background-color: white;
  width: 128px !important;
  height: 128px !important;
}
myself-component h1,
contact-component h1 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.7rem 0;
  text-align: center;
}
myself-component p,
contact-component p {
  margin-top: 0.7rem;
  text-align: justify;
}

contact-component object {
  border-radius: 9999px;
  display: block;
}
.email {
  font-weight: bold;
  word-break: break-all;
  color: var(--primary-color);
}

.descripton-or-language {
  margin-bottom: 0.9rem;
}
.content {
  overflow-wrap: break-word;
}
.content h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.content img:not(.spinner),
.content iframe {
  border-radius: 3%;
}
blockquote {
  background-color: var(--primary-color) !important;
  border-left: 5px solid var(--primary-color-darker) !important;
  color: white;
}

custom-button-component .button {
  color: white !important;
  width: 100%;
  height: 2.8rem;
  margin: 0.2rem 0;
}
.github-button {
  background-color: var(--github-color) !important;
}
.github-button:hover {
  background-color: var(--github-color-darker) !important;
}
.discord-button {
  background-color: var(--discord-color) !important;
}
.discord-button:hover {
  background-color: var(--discord-color-darker) !important;
}
.default-button {
  background-color: var(--primary-color) !important;
}
.default-button:hover {
  background-color: var(--primary-color-darker) !important;
}

curriculum-component ul {
  list-style: none !important;
  margin-left: 0 !important;
}
curriculum-component li {
  margin-bottom: 1rem;
}
curriculum-component i {
  color: var(--primary-color);
  margin-right: 0.4rem;
  font-size: 1.2rem;
}

.tech-card-section {
  display: flex;
  flex-wrap: wrap;
}
.tech-card-section > tech-card-component {
  margin: 0.5rem;
}
.tech-card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 120px;
  height: 120px;
}
.tech-card-box > img {
  display: block;
  border-radius: 5px !important;
  width: 60%;
  height: 60%;
}
.tech-card-box > p {
  margin-top: 0.5rem;
  font-size: 70%;
  color: #9a9a9a;
}

.spinner-container {
  display: flex;
  justify-content: center;
}
.spinner {
  margin-top: 1.6rem;
  margin-right: auto;
  margin-left: auto;
  height: 15vh;
}
.loading-image {
  display: none !important;
}

case-changer-component iframe {
  width: 100%;
  height: 55vh;
}

autozoom-component img {
  width: 100%;
}

#demo-popup {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
.message-header {
  background-color: var(--primary-color) !important;
}
.message-body {
  padding: 1rem !important;
  background-color: #e7e7e7 !important;
}
#skip {
  font-weight: bold;
  color: var(--primary-color);
}
#skip:hover {
  color: #363636;
  cursor: pointer;
}
#demo-box {
  padding: 0 !important;
}
#demo-box.box {
  background-color: transparent !important;
  box-shadow: none !important;
  font-size: 1em;
}
#interaction-panel,
#demo-box {
  height: 98%;
}
#program-bar {
  display: flex;
  align-items: center;
  height: 2.3rem;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #e7e7e7;
  color: black;
  border-radius: 6px 6px 0 0;
}
.program-bar-jointed {
  border-radius: 0 !important;
}
#terminal-tab {
  display: flex;
  align-items: center;
  height: 80%;
  margin-top: auto;
  clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
  background-color: #f2f2f2;
  padding: 0 1.3rem 0 1.3rem;
}
#terminal-tab span {
  font-size: 0.8rem;
  width: 100%;
}
#terminal-tab img {
  width: 17px;
  margin-right: 0.5rem;
  margin-left: 0.3rem;
}
.close-tab-button {
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  margin-left: 4rem;
  width: 18px;
  height: 9px;
  background-color: #5b5b5b;
}
.close-tab-button:hover {
  background-color: #2f2f2f;
}
.new-tab-button {
  transform: skew(30deg);
  width: 30px;
  height: 18px;
  background-color: #cecece;
  border: 1px solid #adadad;
  border-radius: 4px;
  margin-top: 0.5rem;
  transition: background-color ease 0.5s;
}
.new-tab-button:hover {
  background-color: #dbdbdb;
  transition: background-color ease 0.5s;
}
#terminal-controls {
  display: flex;
}
#red-control,
#yellow-control,
#green-control {
  display: inline-block;
  border-radius: 9999px;
  width: 13px;
  height: 13px;
  margin: 0 0.3rem;
}
#red-control {
  background-color: #ff6059;
  border: 1px solid #e15752;
}
#red-control:hover {
  background-color: #d54e4b;
}
#yellow-control {
  background-color: #ffbd2e;
  border: 1px solid #e0a942;
}
#yellow-control:hover {
  background-color: #da9706;
}
#green-control {
  background-color: #28c941;
  border: 1px solid #37bc49;
}
#green-control:hover {
  background-color: #19a62e;
}
#interaction-panel {
  background-color: black;
  padding: 1.5rem;
  border-radius: 0 0 6px 6px;
}
#interaction-panel h5 {
  color: white;
  margin-bottom: 0.5rem;
  font-family: 'Code', monospace;
  font-size: 1.15rem;
  letter-spacing: -3px;
  max-width: 70%;
}
.dialogue-button,
.disabled-dialogue-button {
  font-family: 'Code', monospace;
  font-size: 1rem;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 0.4rem;
  margin-bottom: 0;
  padding: 0.2rem 0.2rem 0.2rem 0.6rem;
}
.disabled-dialogue-button {
  background-color: white !important;
  color: black !important;
  cursor: default;
}
.disabled-dialogue-button:focus {
  outline: none;
  box-shadow: none;
}
.arrow {
  position: relative;
  left: 0.28rem;
  top: 0.23rem;
  width: 23px;
}
#typing-box {
  height: 0;
}
#terminal-box {
  margin: 1.5rem 0;
}
#terminal-box #user {
  color: #7ac730;
  display: inline;
  font-family: monospace;
  font-weight: bold;
}
#terminal-box span {
  color: gray;
  font-family: monospace;
  border-left: 1px solid transparent;
}
.blinking-character {
  border-left: 1px solid white !important;
}
