:root {
    --primary-color: #2995A0;
    --primary-color-darker: #186c73;

    --github-color: #333;
    --github-color-darker: #242323;
    --discord-color: #5865F2;
    --discord-color-darker: #424ec9;
}

@font-face {
    font-family: 'Batmfa';
    src: url("./fonts/batmfa.ttf") format("truetype");
}

@font-face {
    font-family: 'Code';
    src: url("./fonts/Code.ttf") format("truetype");
}

.navbar-brand img {
    width: 50px;
}
.navbar-item img {
    max-height: 100% !important;
}
.navbar-brand p {
    font-size: 1.4rem;
    font-family: 'Batmfa', sans-serif;
    font-weight: normal;
    color: white;
    margin-left: 0.7rem;
    margin-right: 1rem;
}

.navbar-burger {
    height: auto !important;
}

.columns {
    margin: 0.5rem !important;
}
.column {
    padding: 1.5rem !important;
}
.box {
    background-color: #f5f5f5 !important;
}

@media screen and (max-width: 1023px) {
    .column {
        padding: 0.75rem !important;
    }
    .box {
        border: 2px solid #4a4a4a;
    }
    header-component i {
        color: var(--primary-color) !important;
    }
    .navbar-link:not(.is-arrowless)::after {
        border-color: black !important;
    }
    .navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
        color: var(--primary-color) !important;
    }
}
@media screen and (min-width: 1024px) {
    #navbarBasicExample .navbar-item:hover, .navbar-link:hover, .navbar-item.selected, .navbar-link:hover.selected {
        background-color: var(--primary-color) !important;
    }
    .navbar-dropdown {
        background-color: black !important;
    }
    .navbar-dropdown .navbar-item {
        background-color: black;
        color: white !important;
    }
    .navbar-dropdown .navbar-item i {
        color: white;
    }
    .navbar-dropdown .navbar-item:hover {
        background-color: var(--primary-color) !important;
    }
}

.my-projects-icon {
    margin-left: 0.3rem;
}

lateral-section-component .box {
    margin-bottom: 1.5rem;
}

lateral-section-component figure {
    margin: auto;
}
lateral-section-component img {
    border: 4px inset var(--primary-color);
}
lateral-section-component h1 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-align: center;
}
lateral-section-component p {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    text-align: justify;
}

.descriptonOrLanguage {
    margin-bottom: 0.9rem;
}
.content {
    overflow-wrap: break-word;
}
.content h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.content img:not(.spinner), .content iframe {
    border-radius: 3%;
}
blockquote {
    background-color: var(--primary-color) !important;
    border-left: 5px solid var(--primary-color-darker) !important;
    color: white;
}

custom-button-component .button {
    color: white !important;
    width: 100%;
    height: 2.8rem;
    margin: 0.2rem 0;
}
.github-button {
    background-color: var(--github-color) !important;
}
.github-button:hover {
    background-color: var(--github-color-darker) !important;
}
.discord-button {
    background-color: var(--discord-color) !important;
}
.discord-button:hover {
    background-color: var(--discord-color-darker) !important;
}
.default-button {
    background-color: var(--primary-color) !important;
}
.default-button:hover {
    background-color: var(--primary-color-darker) !important;
}

curriculum-component ul {
    list-style: none !important;
    margin-left: 0 !important;
}
curriculum-component li {
    margin-bottom: 1rem;
}
curriculum-component i {
    color: var(--primary-color);
    margin-right: 0.4rem;
    font-size: 1.2rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
}
.spinner {
    margin-top: 1.6rem;
    margin-right: auto;
    margin-left: auto;
    height: 15vh;
}
.loading-image {
    display: none !important;
}

case-changer-component iframe {
    width: 100%;
    height: 55vh;
}

autozoom-component img {
    width: 100%;
}

#interaction-panel {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 6px;
}
#interaction-panel h5 {
    color: white !important;
    margin-bottom: 0.7rem;
    font-family: 'Code', monospace;
    font-weight: normal;
    letter-spacing: -3px;
}
.hi-button, .disabled-hi-button {
    font-family: 'Code', monospace;
    font-size: 1rem;
    background-color: var(--primary-color-darker);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0.2rem 0.2rem 0.2rem 0.6rem;
}
.disabled-hi-button {
    background-color: #a5a5a5 !important;
    color: #5a5757 !important;
    cursor: default;
}
.arrow {
    position: relative;
    left: 0.113rem;
    top: 0.25rem;
    width: 23px;
}
#typing-box {
    height: 0;
}