<div id="demo-box" class="box">
  <div id="terminal-tab">
    <img src="../../favicon.ico" alt="Program Icon" />
    <p>A.S.I Terminal</p>
    <div id="terminal-controls">
      <div id="red-control"></div>
      <div id="yellow-control"></div>
      <div id="green-control"></div>
    </div>
  </div>
  <div id="demo-content" class="content">
    <div id="interaction-panel">
      <div id="dialogue-box">
        <h5>IT LOOKS LIKE YOU'VE ALREADY DONE THE DEMO!</h5>
        <h5>WOULD YOU LIKE TO DO IT AGAIN?</h5>
        <button class="dialogue-button">DO IT AGAIN!</button>
        <object class="arrow" type="image/svg+xml" data="../../Assets/General/arrow.svg"></object>
      </div>
      <div id="typing-box"></div>
    </div>
  </div>
</div>
