<div id="demo-box" class="box">
  <article id="demo-popup" class="message">
    <div class="message-header">
      <p>Demo Interaction</p>
      <button id="close-demo-popup" class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      Below is a short demo interaction that, once finished, will <strong>unlock the site's menu</strong>. It takes
      around <strong>1.5 minutes</strong>, but if you don't want to go through it, click here to
      <span id="skip">SKIP</span>.
    </div>
  </article>
  <div id="program-bar" class="program-bar-jointed">
    <div id="terminal-controls">
      <div id="red-control"></div>
      <div id="yellow-control"></div>
      <div id="green-control"></div>
    </div>
    <div id="terminal-tab">
      <img src="../../favicon.ico" alt="Program Icon" />
      <span>A.S.I Terminal</span>
      <div class="close-tab-button"></div>
    </div>
    <div class="new-tab-button"></div>
  </div>
  <div id="interaction-panel">
    <div id="dialogue-box">
      <h5>HMMM, WHO ARE YOU?</h5>
      <button class="dialogue-button">SAY HI!</button>
      <object class="arrow" type="image/svg+xml" data="../../Assets/General/arrow.svg"></object>
    </div>
    <div id="typing-box"></div>
  </div>
</div>
