<div id="demo-box" class="box">
  <div id="program-bar">
    <div id="terminal-controls">
      <div id="red-control"></div>
      <div id="yellow-control"></div>
      <div id="green-control"></div>
    </div>
    <div id="terminal-tab">
      <img src="../../favicon.ico" alt="Program Icon" />
      <span>A.S.I Terminal</span>
      <div class="close-tab-button"></div>
    </div>
    <div class="new-tab-button"></div>
  </div>
  <div id="interaction-panel">
    <div id="dialogue-box">
      <h5>HMMM, WHO ARE YOU?</h5>
      <button class="dialogue-button">SAY HI!</button>
      <object class="arrow" type="image/svg+xml" data="../../Assets/General/arrow.svg"></object>
    </div>
    <div id="typing-box"></div>
  </div>
</div>
