<div class="box">
  <div class="content">
    <h1>Curriculum</h1>
    <h3>Education:</h3>
    <ul>
      <li>
        <i class="fas fa-graduation-cap fa-fw"></i>Graduated in Highschool in 2019 at Colégio Farroupilha, Brazil, Porto
        Alegre, RS;
      </li>
      <li>
        <i class="fas fa-university fa-fw"></i><span id="verb"></span> Software Engineering at PUCRS
        <span id="semester">(4th Semester)</span>, Brazil, Porto Alegre, RS;
      </li>
    </ul>
    <h3>Professional Experience:</h3>
    <ul>
      <li>
        <i class="fas fa-hand-point-right fa-fw"></i>Internship at LIS (Software Innovation Laboratory) - PUCRS/HP
        partnership [09/2021 - 04/2022];
      </li>
      <li>
        <i class="fas fa-hand-point-right fa-fw"></i>Internship at HP Inc. DevOps Software Developer. [04/2022 - now];
      </li>
    </ul>
    <h3>Technical Abilities:</h3>
    <ul>
      <li><i class="fab fa-windows fa-fw"></i>Windows Operating System;</li>
      <li><i class="fas fa-file-word fa-fw"></i>Microsoft Office and similar;</li>
      <li><i class="fab fa-java fa-fw"></i>Programming in Java (Intermediate);</li>
      <li><i class="fab fa-python fa-fw"></i>Programming in Python (Basic);</li>
      <li><i class="fab fa-cuttlefish fa-fw"></i>Programming in C (Basic);</li>
      <li><i class="fas fa-sitemap fa-fw"></i>Experience with MVC architecture;</li>
      <li>
        <i class="fab fa-node-js fa-fw"></i>Creation of web applications with JavaScript, Node.js (Express), HTML, CSS,
        EJS (Intermediate);
      </li>
      <li><i class="fab fa-react fa-fw"></i>Creation of web applications with React.js (Basic);</li>
      <li><i class="fab fa-git fa-fw"></i>Management and version control with Git;</li>
      <li>
        <i class="fas fa-database fa-fw"></i>SQL language and experience with OracleDB and MySQL DBMS (Intermediate);
      </li>
      <li><i class="fas fa-mobile-alt fa-fw"></i>Creation of IOS and Android apps with Flutter and Dart (Basic);</li>
      <li>
        <i class="fab fa-aws fa-fw"></i>AWS microservices - Lambda, DynamoDB, SQS, CloudWatch, S3, SAM, Secrets,
        Cognito, API Gateway (Intermediate);
      </li>
    </ul>
    <h3>Technologies:</h3>
    <div class="tech-card-section">
      <tech-card-component card-title="AWS" image-src="../../Assets/Technologies/aws.svg"></tech-card-component>
      <tech-card-component
        card-title="AWS API Gateway"
        image-src="../../Assets/Technologies/aws-api-gateway.svg"
      ></tech-card-component>
      <tech-card-component
        card-title="AWS CloudWatch"
        image-src="../../Assets/Technologies/aws-cloudwatch.svg"
      ></tech-card-component>
      <tech-card-component
        card-title="AWS Cognito"
        image-src="../../Assets/Technologies/aws-cognito.svg"
      ></tech-card-component>
      <tech-card-component
        card-title="AWS DynamoDB"
        image-src="../../Assets/Technologies/aws-dynamodb.svg"
      ></tech-card-component>
      <tech-card-component
        card-title="AWS Lambda"
        image-src="../../Assets/Technologies/aws-lambda.svg"
      ></tech-card-component>
      <tech-card-component card-title="AWS S3" image-src="../../Assets/Technologies/aws-s3.svg"></tech-card-component>
      <tech-card-component card-title="AWS SAM" image-src="../../Assets/Technologies/aws-sam.svg"></tech-card-component>
      <tech-card-component
        card-title="AWS Secrets"
        image-src="../../Assets/Technologies/aws-secrets.svg"
      ></tech-card-component>
      <tech-card-component card-title="AWS SQS" image-src="../../Assets/Technologies/aws-sqs.svg"></tech-card-component>
      <tech-card-component card-title="C" image-src="../../Assets/Technologies/c.svg"></tech-card-component>
      <tech-card-component
        card-title="Flutter/Dart"
        image-src="../../Assets/Technologies/flutter.svg"
      ></tech-card-component>
      <tech-card-component card-title="Git" image-src="../../Assets/Technologies/git.svg"></tech-card-component>
      <tech-card-component
        card-title="HTML/CSS"
        image-src="../../Assets/Technologies/html-css.svg"
      ></tech-card-component>
      <tech-card-component card-title="Java" image-src="../../Assets/Technologies/java.svg"></tech-card-component>
      <tech-card-component
        card-title="JavaScript"
        image-src="../../Assets/Technologies/javascript.svg"
      ></tech-card-component>
      <tech-card-component card-title="MySQL" image-src="../../Assets/Technologies/mysql.svg"></tech-card-component>
      <tech-card-component card-title="Nodejs" image-src="../../Assets/Technologies/nodejs.svg"></tech-card-component>
      <tech-card-component
        card-title="Oracle DB"
        image-src="../../Assets/Technologies/oracledb.svg"
      ></tech-card-component>
      <tech-card-component card-title="Python" image-src="../../Assets/Technologies/python.svg"></tech-card-component>
      <tech-card-component card-title="Reactjs" image-src="../../Assets/Technologies/reactjs.svg"></tech-card-component>
      <tech-card-component
        card-title="TypeScript"
        image-src="../../Assets/Technologies/typescript.svg"
      ></tech-card-component>
    </div>
    <h3>Languages:</h3>
    <ul>
      <li>
        <i class="fas fa-hand-point-right"></i>Advanced english with CAE certificate (C1 Advanced) from University of
        Cambridge;
      </li>
      <li><i class="fas fa-hand-point-right"></i>Brazilian portuguese as my native language;</li>
      <li><i class="fas fa-hand-point-right"></i>Basic spanish;</li>
    </ul>
  </div>
</div>
